{{#partial "content"}}
    <div class="card text-white bg-danger col-md-4" >
        <div class="card-header text-center">Squad</div>
    {{#if heros}}
        {{#each heros}}
        <div class="card-body">
            <h5 class="card-title"> {{ superSquadName}}</h5>
            <p class="card-text">Hero Name: {{ heroName }}</p>
            <p class="card-text">Hero Super-Power: {{ heroSuperPower }}</p>
            <p class="card-text">Hero Code-Name: {{ codeName }}</p>
        </div>
        {{/each}}
    {{/if}}
    </div>


{{/partial}}
{{> layout.hbs}}