{{#partial "content"}}
    <h1>Register your hero here !! </h1>
    <form action="/heros/new" method="post">
        <div class="form-group">
            <label for="hname"  >Hero's name</label>
            <input type="text" class="form-control" id="hname" name="hname" placeholder="Type here...">
        </div>
        <div class="form-group">
            <label for="sname">Super-powers</label>
            <input type="text" class="form-control" id="sname" name="sname" placeholder="Type here...">
        </div>
        <div class="form-group">
            <label for="cname">Code-name</label>
            <input type="text" class="form-control" id="cname" name="cname" placeholder="Type here...">
        </div>
        <div class="form-group">
        <label for="cname">Select Squad Here</label>
        <select class="form-control" name="sqname" id="sqname" class="custom-select" >
            <option selected>Choose Squad here..</option>
            <option value="UNDERTAKER">Undertakers</option>
            <option value="FIRECRACKER">Firecrackers</option>
            <option value="VINDICATORS">Vindicators</option>
        </select>
        </div>
        <button type="submit" class="btn btn-danger" >Submit Hero</button>

    </form>

{{/partial}}
{{> layout.hbs}}