<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}Heros{{/block}}</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body>
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">Register Hero!!</a></li>
    <li role="presentation"><a href="/posts">Register Squad!!</a></li>
    <li role="presentation"><a href="/posts/new">See all heros and squads</a></li>
</ul>
<div class="container">
    <!--begin main template-->
    <div class="page-header">
        <img src="/images/image-1.jpg" width="20%"  height="20%">
        <img src="/images/image-2.png" width="20%" height="20%">
        <img src="/images/image-3.png" width="20%" height="20%">
        <img src="/images/image-4.png" width="20%" height="20%">

        <h1>Welcome to Hero's Squad!!</h1>
    </div>
    <div class="col-md-12">
        {{#block "content"}}
        {{/block}}
    </div>
</div>

{{#block "footer"}}
    <footer class="footer">
        <div class="container">
            <p class="text-muted"><a href="/posts/delete">Delete all heros</a></p>
        </div>
    </footer>
    </body>
    </html>
{{/block}}