{{#partial "content"}}
    <h1>Register your Squad here</h1>
    <form action="/squads/new" method="post" class="form-control">
        <select class="custom-select" >
            <option selected>tap here to choose</option>
            <option value="1">Undertaker</option>
            <option value="2">Firecrackers</option>
            <option value="3">Vindicator</option>
        </select>
        <button type="submit" class="new-button">Submit</button>
    </form>
{{/partial}}
{{> layout.hbs}}