{{#partial "content"}}
    <h1>Register your hero here !! </h1>
    <form action="/heros/new" method="post">
        <div class="form-group">
            <label for="hname"  >Hero's name</label>
            <input type="text" class="form-control" id="hname" name="hname" placeholder="Example input">
        </div>
        <div class="form-group">
            <label for="sname">Super-powers</label>
            <input type="text" class="form-control" id="sname" name="sname" placeholder="Another input">
        </div>
        <div class="form-group">
            <label for="cname">Code-name</label>
            <input type="text" class="form-control" id="cname" name="cname" placeholder="Another input">
        </div>
        <button type="submit" class="new-button">Submit Hero</button>
    </form>

{{/partial}}
{{> layout.hbs}}