{{#partial "content"}}
    <h1>Register your hero here !! </h1>
    <form>
        <div class="form-group">
            <label for="Input">Hero's name</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
        </div>
        <div class="form-group">
            <label for="Input2">Super-powers</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
        </div>
        <div class="form-group">
            <label for="Input2">Code-name</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
        </div>
        <button type="submit" class="new-button">Submit</button>
    </form>
{{/partial}}
{{> layout.hbs}}