{{#partial "content"}}
    <h1>Register your Squad here</h1>
    <form>
        <select class="custom-select">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
        <button type="submit" class="new-button">Submit</button>
    </form>
{{/partial}}
{{> layout.hbs}}